{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <h1><img src="icons/notes.png" alt="" /> Notes</h1>

    <div id="add-note">
      <input type="submit" value="Create" id="create" />
      <button id="clear-notes">Clear All</button>
      <button id="theme-toggle">Dark/Light Mode</button>
    </div>

    <textarea
      id="textbox"
      rows="4"
      cols="50"
      placeholder="Enter your note here..."
    ></textarea>

    <div id="output" class="notes-container"></div>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
